@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  font-size: 100%; 
  padding: 0;
  font-family: arial;
}
* {
  outline: none;
}
#vid_holder {
  height: 100%;
}
.clear_wrapper {
  float: left;
  overflow: hidden;
  width: 100%;
}
.in_video_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.t {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  table-layout: fixed;
}
.t .tc {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.t .tc .tc_content {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.t .tc .tc_content img {
  float: none;
  max-width: 90% !important;
  max-height: 90% !important;
}
.no_video_wrapper {
	display: inline-block;
	position: relative;
}
.remove_blk {
  display: inline-block;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f2dede;
  background: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2dede), color-stop(100%, #e7c3c3));
  background: -ms-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background: -linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}
.remove_blk:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.video_box {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.video_box .play_video {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: url('http://videoboxer.co/img/play.png');
  background-repeat: no-repeat;
  background-position: center center;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.page_wrp_iframe {
  float: left;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
}
.page_wrp_iframe .video_wrp ,
.page_wrp_iframe .video_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_wrp {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

#videoplayer1,
#vastVideo {
  width: 100% !important;
  height: 100% !important;
}

.ass_holder {
  position: relative;
  overflow: hidden;
  height: 480px;
}

.ass_holder>span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*--cap--*/

.cap-container {
  float: left;
  width: 100%;
  //min-width: 800px;
  height: 100%;
  position: relative;
  background: url('http://videoboxer.co/img/cap-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 40px;
}
@media (max-width: 830px) { 
    .cap-container {
      min-width: 100%;
    }
}

.cap-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 106px;
  height: 106px;
  background: url('http://videoboxer.co/img/cap-play.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin: -53px 0 0 -53px;
}
@media (max-width: 540px) { 
  .cap-container {
    height: 100%;
  }
  .cap-container:before {
    content: none;
    top: auto;
    bottom: 80px;
  }
  .cap-text { 
    font-size: 18px;
  }
}
.cap-container:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 1;
  width: 470px;
  height: 40px;
  background: url('http://videoboxer.co/img/cap-toolbar.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin: 0 0 0 -235px;
}

.cap-text {
  float: left;
  width: 100%;
  font-family: arial;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-top: 40px;
  line-height: 30px;
  font-weight: 100;
}
.cap-text span {
  background: #fff;
  color: #27272b;
  padding: 0 5px;
  border-radius: 4px;
}

.vastVideo {
  // width: 800px;
  // height: 480px;
  float: left;
  width: 100%;
  height: 100%;
}
.vastLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vastContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.skip {
  position: absolute;
  top: 50px;
  right: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  padding: 0 15px;
  cursor: pointer;
  font-family: arial;
  z-index: 55;
}

@media (max-width: 540px) { 
    .cap-container:after {
      content: none
    }
    .cap-text { 
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
  }
}