﻿//	css
@import url("../less/bootstrap/bootstrap.less");
@import url("../less/reset.less");
@import url("../less/css3-mixin.less");
@import url("../less/fonts.less");
@import url("../less/sprites.less");


//	path
@img: "/img";
@bg: "/img/bg";
@photo: "/img/photos";

//	mixines	
[class*="icon"] {
	display: inline-block;
}
.fix() {
	float: left;
	overflow: hidden;
	width: 100%;
}
.clear() {
	&:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
}
.no-dec() {
	text-decoration: none;
	&:active ,
	&:focus ,
	&:visited ,
	&:hover {
		text-decoration: none;
	}
}
.f(@fs) {
	font-size: @fs;
}
.no-padding {
	padding: 0;
}

// 	body
html {
	font-size: 10px;
}
body {
    .roboto-light();

}
#header , 
#main , 
#footer { 
	width: 100%; 
	float: left;
}
* {
	outline: none !important;
}
a {
	cursor: pointer;
}
b { 
	font-weight: bold;
}

.alert.error {
	display: block;
	float: left;
	width: 100%;
	margin-top: 15px;
	.f(1.4em);
	margin-bottom: 0;
}

//	header 
#header {
	.fix();
	background: #eafcff;
	padding:22px 0;
    .box-shadow( 0 2px 5px 0  #aed2d8);
    @media screen and (max-width:600px) {
        text-align: center;
    }

}
.logo {
	.make-xs-column(4);
	.make-sm-column(3);
	.make-md-column(2);
	.make-lg-column(2);
    a {
        .fix();
        img {
            float: left;
            width:100%;
            height:auto;
        }
    }
    @media screen and (max-width:600px) {
        float: none;
        display: inline-block;
    }
    @media screen and (max-width:480px) {
        .make-xs-column(6);
        float: none;
        display: inline-block;
    }
    @media screen and (max-width:380px) {
        .make-xs-column(8);
        float: none;
        display: inline-block;
    }
}
.hdr-nav {
    .make-xs-column(8);
    .make-sm-column(9);
    .make-md-column(10);
    .make-lg-column(10);
    ul {
        .fix();
        text-align: right;
        li {
            display: inline-block;
            padding:0 15px;
            &:last-child {
                padding: 0 0 0 15px;
            }
            a {
                color: #2c2c2c;
                font-size:1.8rem;
                display: inline-block;
                padding: 6px 12px;
                float: left;
                line-height: 1.42857143;
                &.btn {
                    color: #fff;
                    padding: 6px 12px;
                    background: #2898d9;
                    border:none;
                    .border-radius(2px);
                }
            }
        }
    }
    @media screen and (max-width:600px) {
        .make-xs-column(12);
        ul {
            text-align: center;
            padding-top:15px;
        }
    }
    @media screen and (max-width:480px) {
        ul {
            li {
                padding:0;
                font-size:1.6rem;
                a {
                    font-size:1.6rem;
                }
            }
        }
    }

}

//footer
#footer {
    background: #eafcff;
    padding:45px 0 45px 0;
    border-bottom:13px solid #2898d9;
}
.ftr-logo {
    .make-xs-column(12);
    .make-sm-column(4);
    .make-md-column(3);
    .make-lg-column(3);
    a {
        .fix();
        img {
            display: inline-block;
            width:auto;
            height:auto;
            max-width: 100%;
        }
    }
    @media screen and (max-width:768px) {
        text-align: center;
        margin-bottom: 25px;
    }
}
.ftr-copy {
    .fix();
    text-transform: uppercase;
    .roboto-regular();
    font-weight: bold;
    padding-top:15px;
    font-size:1.4rem;
    color: #2898d9;
}
.copyright {
    float: left;
    width:100%;
    font-size:1.4rem;
    color: #8f8f8f;
    margin-top:10px;
}
.ftr-list {
    .make-xs-column(12);
    .make-sm-column(4);
    .make-md-column(3);
    .make-lg-column(3);
    h6 {

    }
    ul {
        .fix();
        li {
            float: left;
            width:100%;
            margin-bottom:10px;
            font-size:1.8rem;
            a {
                color: #8f8f8f;
            }
        }
    }
    @media screen and (max-width:768px) {
        text-align: center;
    }
}

// content
.upload-content {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    position: relative;
}
.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}
.upload-parallax {
    float: left;
    width:100%;
    height:800px;
}
.upload-decor {
    .fix();
    position: relative;
    margin-top:0px;
    margin-bottom:50px;
    &>img {
        float: left;
        width:100%;
        @media screen and (max-width:992px) {
            display: none;
        }
    }
}
.upload-holder {
    position: absolute;
    bottom:0;
    left:50%;
    .translate(-50% , 0);
    padding-bottom:130px;
    text-align: center;
    input[type="file"] {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:5;
        cursor: pointer;
        .opacity(0);
    }
    &:after {
        content: '';
        width:90px;
        height:90px;
        position: absolute;
        bottom:0;
        left:50%;
        .translate(-50% , 0);
        background: url("../img/upload-ng.png") no-repeat center center;
    }
    img {
        display: inline-block;
        max-width:100%;
        height:auto;
    }
    h1 {
        float: left;
        .roboto-thin();
        color: #2f2f2f;
        width:100%;
        font-size:6rem;
        text-align: center;
        margin-bottom:35px;
        margin-top:60px;
    }
    p {
        color: #727272;
        font-size:1.8rem;
        float: left;
        width:100%;
    }
    @media screen and (max-width:992px) {
        position: relative;
        padding-bottom: 50px;
        float: left;
        margin-top: 50px;
        width: 100%;
        .translate(0 , 0);
        left: 0;
        &:after {
            position: static;
            float: left;
            margin-left:50%;
            margin-top:65px;
        }
    }
}
.page-video {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    padding-bottom:250px;
}
.video-title {
    .fix();
    padding:50px 0;
    h1 {
        color: #2f2f2f;
        font-size:4.8rem;
        .roboto-thin();
        text-align: center;
    }
}
.video-wrapper {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(8);
    .make-lg-column(8);
    .make-md-column-offset(2);
    .make-lg-column-offset(2);
    .player-thumb {
        float: left;
        width:100%;
        height:auto;
    }
}
.video-link {
    .fix();
    text-align: center;
    padding:65px 0 120px 0;
}
.button-type {
    background: #2898d9;
    display: inline-block;
    color: #fff;
    .border-radius(2px);
    font-size:1.8rem;
    padding:20px 40px;
    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }
}
.modal .input-group {
  width: 100%;
}
.modal-title {
    font-size: 1.6rem;
}
.heading() {
    text-align: center;
    font-weight: bold;
    margin-bottom:15px;
}
.auth-error {
    font-size:1.6rem;
    text-align: center;
}
.text {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    min-height: 768px;
    color: #8f8f8f;
    font-size:1.6rem;
    line-height:1.4;
    padding-top:100px;
    padding-bottom:100px;
    h1 {
        .heading();
        font-size:4.5rem;
    }
    h2 {
        .heading();
        font-size:4rem;
    }
    h3 {
        .heading();
        font-size:3.5rem;
    }
    h4 {
        .heading();
        font-size:2.5rem;
    }
    h5 {
        .heading();
        font-size:2rem;
    }
    h6 {
        .heading();
        font-size:1.8rem;
    }
    p {
        margin-bottom:15px;
    }
    img {
        float: left;
        margin:15px 15px 0 0;
        max-width:100%;
        height:auto;
    }
}
.video-nav {
    li {
        font-size:1.4rem;
    }
}
